<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/hero-banner-1.jpg)">
  <div class="container py-5 index-forward text-white">
    <h1>About Us</h1>
    <!-- Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-none mb-0 p-0">
        <li class="breadcrumb-item ps-0"><a href="index.html"> <i class="fas fa-home me-2"></i>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About us</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-5">
  <div class="container py-5">
    <div class="row gy-4">
      <div class="col-lg-8">
        <h3 class="pt-1 text-primary">Sky H & P Seals</h3>
        <p class="text-md text-muted">
          Welcome to, <b> Sky H & P Seals</b>, your premier destination for high-quality seals and sealing solutions. As
          a leading supplier in the industry, we are committed to providing superior products that meet the diverse
          needs of our valued customers.<br><br>

          At Sky H & P Seals, we understand the critical importance of seals in various applications, from automotive to
          industrial, and everything in between. We specialize in offering a comprehensive range of seals, including
          hydraulic seals, pneumatic seals, O-rings, gaskets, and custom-engineered solutions. With our extensive
          product portfolio, we cater to a wide range of industries, ensuring that we have the perfect seal to suit your
          unique requirements.<br><br>

          What truly sets us apart is our unwavering commitment to quality and reliability. We source our seals from
          trusted manufacturers and meticulously test each product to ensure superior performance and longevity. Our
          team of experts has deep industry knowledge and technical expertise, allowing us to provide expert advice and
          assistance in selecting the right seal for your specific application.<br><br>

          We take pride in our exceptional customer service. Our dedicated and responsive team is always ready to assist
          you, whether you need help with product selection, technical support, or order fulfillment. We strive to build
          long-term relationships with our customers, and their satisfaction is our top priority.<br><br>

          At Sky H & P Seals, we also understand the importance of timely delivery. We maintain a robust inventory,
          ensuring that we can quickly fulfill your orders and minimize downtime. With our efficient logistics network,
          we can ship our products worldwide, reaching you wherever you are.<br><br>

          Choose Sky H & P Seals as your trusted partner for all your sealing needs. Experience our commitment to
          excellence, quality, and exceptional customer service. Contact us today and let us help you find the perfect
          sealing solution for your business.
        </p>
      </div>

      <div class="col-lg-4 mb-3 px-5">
        <div class="p-2 border"><img class="img-fluid" src="assets/img/industrial-seals.jpg" alt="img factory"></div>
        <div class="p-2 border mt-3"><img class="img-fluid" src="assets/img/about-img.jpeg" alt="img hydreated lime">
        </div>
      </div>
    </div>

    <div class="row gy-4 mt-4">
      <div class="col-lg-5">
        <div class="pt-1 bg-primary"><img class="img-fluid" src="assets/img/about-img.jpg" alt=""></div>
      </div>
      <div class="col-lg-6">
        <p class="h6 mb-1 text-uppercase text-primary mb-3">Our main services</p>
        <h2 class="mb-4">We Aim To Be The Trusted Partner of Choice for Sealing Solutions</h2>
        <p class="text-sm text-muted">At Sky H & P Seals, our primary focus is to provide high-quality sealing solutions that ensure optimal performance and reliability for our customers' applications. Our main service statement encompasses the following key aspects:</p>
        <ul class="list-check list-unstyled row px-3 gy-2 mb-4">
          <li class="text-sm text-muted col-lg-6">Comprehensive Sealing Solutions</li>
          <li class="text-sm text-muted col-lg-6">Customization and Engineering</li>
          <li class="text-sm text-muted col-lg-6">Exceptional Quality and Reliability</li>
          <li class="text-sm text-muted col-lg-6">Responsive Customer Suppor</li>
          <li class="text-sm text-muted col-lg-6">Continuous Improvement</li>
          <li class="text-sm text-muted col-lg-6">Learn from Customer Feedback</li>
        </ul>
        <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
          <li class="list-inline-item pe-4 me-0"><img src="assets/img/about-sign.png" alt="" width="80"></li>
          <li class="list-inline-item px-4 me-0 border-start">
            <h5 class="mb-0">Mr. Zayed Shaikh</h5>
            <p class="small fw-normal text-muted mb-0">Sr. Sales Manager, Sky H&P Seals</p>
          </li>
          <li class="list-inline-item ps-4 border-start">
            <h5 class="mb-0">+91 8600007177</h5>
            <p class="small fw-normal text-muted mb-0">Call to ask any question</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container py-5">
    <header class="mb-5 text-center">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <p class="h6 text-uppercase text-primary">Reliable &amp; Trustworthy</p>
          <h2>We're looking for specific approach to each cases</h2>
          <p class="text-muted">Offering comprehensive products, engineering expertise, exceptional quality, responsive support, and a commitment to continuous improvement.</p>
        </div>
      </div>
    </header>
    <div class="row align-items-stretch gy-4">
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#arrow-target-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our mission</h2>
            <p class="text-muted text-sm mb-0">At Sky H & P Seals, our mission is to provide superior sealing solutions
              that enable our customers to achieve optimal performance and operational excellence in their applications.
              We are dedicated to delivering exceptional products, unmatched technical expertise, and outstanding
              customer service, all while upholding the highest standards of quality and integrity.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#stack-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our vision</h2>
            <p class="text-muted text-sm mb-0">At Sky H & P Seals, our vision is to be the industry's leading provider
              of sealing solutions, known for our unwavering commitment to quality, innovation, and customer
              satisfaction. We strive to be the trusted partner for businesses worldwide, delivering superior sealing
              products that optimize performance, reliability, and efficiency across various industries.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#sales-up-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our strategies</h2>
            <p class="text-muted text-sm mb-0">our strategy is centered around delivering exceptional sealing solutions to our customers while fostering sustainable growth and maintaining a reputation as a trusted industry leader. Our strategy statement encompasses the following key elements:
              <br>

            </p>
            <ul class="text-muted text-sm mb-0">
              <li> Customer Focus</li>
              <li> Quality and Reliability</li>
              <li> Environmental Responsibility</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container py-5">
    <h2>Frequently asked questions</h2>
    <p class="text-muted mb-5">
      Explore some commonly asked questions about Sky H & P Seals and their sealing solutions.</p>
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingOne">
              <h6 class="mb-0">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">What products does Sky H & P Seals Company offer?

                </button>
              </h6>
            </div>
            <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" id="collapseOne">
              <div class="p-4">
                <p class="text-sm text-muted mb-0"> Sky H & P Seals Company offers a wide range of sealing solutions,
                  including O-rings, hydraulic seals, pneumatic seals, rotary seals, custom seals, and more.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingTwo">
              <h6 class="mb-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Are Sky H & P Seals
                  Company's products suitable for specific industries?

                </button>
              </h6>
            </div>
            <div class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" id="collapseTwo">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">Yes, Sky H & P Seals Company's products are designed to cater to
                  various industries such as automotive, aerospace, oil and gas, pharmaceutical, and manufacturing,
                  among others.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingThree">
              <h6 class="mb-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can Sky H & P
                  Seals provide custom seals based on specific requirements?

                </button>
              </h6>
            </div>
            <div class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" id="collapseThree">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">Yes, we specializes in custom seals. Our team can work with you to
                  develop seals that meet your unique specifications and applications.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingThree">
              <h6 class="mb-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What is the
                  typical lead time for orders placed with Sky H & P Seals?

                </button>
              </h6>
            </div>
            <div class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" id="collapseThree">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">The lead time for orders can vary depending on the complexity and
                  quantity of the order. Please contact our sales team for more specific information regarding your
                  order.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#quality-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Quality &amp; Reliability</h5>
              <p class="text-sm text-muted">We are committed to maintaining the highest standards of quality in every aspect of our operations. </p>
            </div>
          </li>
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#shield-security-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Technological Advancement</h5>
              <p class="text-sm text-muted">We embrace technological advancements and invest in R & D to stay at the forefront of sealing technology. </p>
            </div>
          </li>
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#pie-chart-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Growth and Expansion</h5>
              <p class="text-sm text-muted">We pursue strategic growth opportunities to expand our market presence and diversify our product offerings. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>