<section>
  <div class="swiper hero-slider">
    <div class="swiper-wrapper">
      <!-- Hero Slide-->
      <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url(assets/img/hero-banner-1.jpg)">
        <div class="container text-white py-5 index-forward">
          <div class="row">
            <div class="col-lg-7">
              <h1>Choose right chemical for your business</h1>
              <p class="lead">We start with a raw product of high grade limestone, with purity often exceeding 95%.</p>
              <ul class="list-inline">
                <li class="list-inline-item me-0"><a class="btn btn-primary" routerLink="/products">Read More</a></li>
                <li class="list-inline-item"></li><a class="btn btn-outline-light" routerLink="/about">Our company</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Slide-->
      <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url(assets/img/hero-banner-2.jpg)">
        <div class="container text-white py-5 index-forward">
          <div class="row">
            <div class="col-lg-7">
              <h1>A professional, skilled and dedicated team.</h1>
              <p class="lead">Our team </p>
              <ul class="list-inline">
                <li class="list-inline-item me-0"><a class="btn btn-primary" routerLink="/products">Read More</a></li>
                <li class="list-inline-item"></li><a class="btn btn-outline-light" routerLink="/about">Our company</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Slide-->
      <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url(assets/img/hero-banner-3.jpg)">
        <div class="container text-white py-5 index-forward">
          <div class="row">
            <div class="col-lg-7">
              <h1>High end technical infrastructure with inhouse lab</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              <ul class="list-inline">
                <li class="list-inline-item me-0"><a class="btn btn-primary" routerLink="/products">Read More</a></li>
                <li class="list-inline-item"></li><a class="btn btn-outline-light" routerLink="/about">Our company</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-nav-custom d-none d-lg-block"></div>
    <div class="swiper-button-prev swiper-nav-custom d-none d-lg-block"></div>
    <div class="swiper-pagination py-3 d-block d-lg-none"></div>
  </div>
</section>